{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/npm",
    ["@semantic-release/git", {
      "assets": ["lib/**/*.{js,ts}", "CHANGELOG.md", "package.json"]
    }]
  ]
}
