import React from 'react'

export const NOT_FOUND_ROUTE = '*'

export const NOT_FOUND_TEST_ID = 'not-found-page'

export const NotFoundPage = () => (
  <div data-testid={NOT_FOUND_TEST_ID}>Not Found</div>
)
